In [1]:
import pandas as pd
import numpy as np

Xtr = pd.read_csv('data/XYtr.csv')
Xte = pd.read_csv('data/Xte.csv')

In [6]:
comparison_column = np.where(Xtr['id'] == Xte['id'], True,False)

array([False, False, False, ..., False, False, False])

In [7]:
Xtr['equal'] = comparison_column

In [8]:
Xtr2 = Xtr[['id','equal']].copy()
Xtr2

                                    id  equal
0     a44a5f4c5e13910205404271e750e7bc  False
1     5cd06ad38bc1e842b7f3e37210b8e574  False
2     239eff19cbe449331801cd1e89c84d2c  False
3     5034105b2e14a5d71522ed8054db89ac  False
4     ab4d2c1023ad1b13f937988ea8cae5f4  False
...                                ...    ...
6909  b8b18cdc1f066586eb2a3c5326d2bb66  False
6910  d3cc7ebd0a8001ede39dfebcc05cf9be  False
6911  1912ac374a2e56327989f468cc4f09b9  False
6912  22907775e92c304ccf77744d9c1989be  False
6913  62defe67d57479ab0cd6d1ffb6525cbb  False

[6914 rows x 2 columns]

Empty DataFrame
Columns: [id, equal]
Index: []