In [1]:
import pandas as pd
import numpy as np

In [2]:
XYtr = pd.read_csv('data/XYtr.csv')

In [3]:
XYtr.head()

,id,X.sales,cdate,description,version,symbol,ext,fee1,fee2,total
0,a44a5f4c5e13910205404271e750e7bc,1,2019-04-26,uSuuw tPc2s Oh5hm kbWyC oIv2i LmM6m TfoFy gnYR...,3,Jt2xJ,.png,250.0,500.0,0.055
1,5cd06ad38bc1e842b7f3e37210b8e574,42,2020-10-26,zfG9T CWIL9 EPGsh RfQUu EDiBa hdBO7,None,00VCP,.png,250.0,500.0,75.000
2,239eff19cbe449331801cd1e89c84d2c,3,2019-04-26,UHWIX Csin3 giC2q uSw1I B58A7 F3KFu coELQ 7OFT...,3,71xGC,.png,750.0,1000.0,0.158
3,5034105b2e14a5d71522ed8054db89ac,4,2019-04-26,UFaHq GbOzi 5oiCZ 0dS4g 6FQLj WEBsK PjIBt gICf...,3,CGpsb,.png,750.0,1000.0,1.990
4,ab4d2c1023ad1b13f937988ea8cae5f4,1,2019-04-26,NaN,3,y1imm,.jpg,300.0,550.0,1.000

In [4]:
XYtr

,id,X.sales,cdate,description,version,symbol,ext,fee1,fee2,total
0,a44a5f4c5e13910205404271e750e7bc,1,2019-04-26,uSuuw tPc2s Oh5hm kbWyC oIv2i LmM6m TfoFy gnYR...,3,Jt2xJ,.png,250.0,500.0,0.055
1,5cd06ad38bc1e842b7f3e37210b8e574,42,2020-10-26,zfG9T CWIL9 EPGsh RfQUu EDiBa hdBO7,None,00VCP,.png,250.0,500.0,75.000
2,239eff19cbe449331801cd1e89c84d2c,3,2019-04-26,UHWIX Csin3 giC2q uSw1I B58A7 F3KFu coELQ 7OFT...,3,71xGC,.png,750.0,1000.0,0.158
3,5034105b2e14a5d71522ed8054db89ac,4,2019-04-26,UFaHq GbOzi 5oiCZ 0dS4g 6FQLj WEBsK PjIBt gICf...,3,CGpsb,.png,750.0,1000.0,1.990
4,ab4d2c1023ad1b13f937988ea8cae5f4,1,2019-04-26,NaN,3,y1imm,.jpg,300.0,550.0,1.000
...,...,...,...,...,...,...,...,...,...,...
6909,b8b18cdc1f066586eb2a3c5326d2bb66,3,2020-11-27,XtC0N Csin3 p6h5k NDY1H MGQbb pQRRi EDiBa IRZp...,4,w8o1y,.png,750.0,1000.0,0.550
6910,d3cc7ebd0a8001ede39dfebcc05cf9be,2,2019-04-26,y9uu4 Csin3 giC2q 8gvmY B58A7 F3KFu coELQ 7OFT...,3,SBqi9,.png,750.0,1000.0,0.100
6911,1912ac374a2e56327989f468cc4f09b9,2,2019-05-08,XAP1e p6h5k QgV2N UFmwP ZuHOA 77NPo VGPRq sgUN...,3,QgV2N,.png,0.0,250.0,0.966
6912,22907775e92c304ccf77744d9c1989be,2,2021-06-12,wpksz QUff8 7ekHl q64Jx giC2q uxx1k QaOaK 0Fg9...,3,w2bN6,.png,200.0,450.0,0.170
6913,62defe67d57479ab0cd6d1ffb6525cbb,4,2020-10-09,NaN,None,NaN,.gif,1000.0,1250.0,0.100

In [5]:
mu = np.mean(XYtr['total'])
mu

9.65815227873961

In [6]:
pred = pd.read_csv('data/pred.csv')

In [7]:
pred.columns

Index(['id', 'total'], dtype='object')

In [8]:
pred0 = pred.copy()

In [9]:
pred0['total'] = mu

In [10]:
pred0.to_csv('data/pred0.csv', index = False)

In [11]:
XYtr1  = XYtr.copy()
# change below
XYtr1['cdate'] = pd.to_datetime(XYtr1['cdate']).values.astype(np.float64)/8.64e+13

In [12]:
Ytr1 = XYtr1['total'].copy()
Xtr1 = XYtr1[['X.sales','cdate','fee1','fee2']]

In [13]:
print(Ytr1[0])
print(XYtr1.iloc[0,-1])
Ytr1[0] = 0
print(Ytr1[0])
print(XYtr1.iloc[0,-1])

0.055
0.055
0.0
0.055

In [17]:
Xtr1.dtypes

X.sales    float64
cdate      float64
fee1       float64
fee2       float64
dtype: object

In [15]:
Xtr1 = Xtr1.astype(np.float64)

In [16]:
from sklearn.linear_model import LinearRegression
# model = LinearRegression().fit(Xtr1, Ytr1)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [18]:
Xtr1 = Xtr1.fillna(0)

In [19]:
model1 = LinearRegression().fit(Xtr1, Ytr1)

In [21]:
Xte = pd.read_csv('data/Xte.csv')

In [22]:
Xte1 = Xte.copy()

In [23]:
Xte1['cdate'] = pd.to_datetime(Xte1['cdate']).values.astype(np.float64)/8.64e+13

In [24]:
Xte1 = Xte1[['X.sales','cdate','fee1','fee2']].copy()

In [25]:
Xte1.dtypes

X.sales      int64
cdate      float64
fee1       float64
fee2       float64
dtype: object

In [26]:
Xte1 = Xte1.astype(np.float64)

In [27]:
Xte1 = Xte1.fillna(0)

In [28]:
pred1 = pred0.copy()
pred1['total'] = model1.predict(Xte1)

In [29]:
pred1.to_csv('data/pred1.csv', index = False)